.dropdown-menu{
    background-color: whitesmoke;
}
.dropdown-toggle{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10%;
}
.dropdown-toggle:hover{
    color: whitesmoke;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.btn{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 0;
}
.btn:hover{
    background-color: whitesmoke;
    color: black;
    border-color: black;
}
.dropdown-text{
    font-weight: bold;
}
.dropdown-text:hover{
    text-decoration: none;
}
.custom-input{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 0;
    margin-top: 5%;
}
.custom-submit{
    background-color: black;
    color: whitesmoke;
    border-color: black;
    border-radius: 0;
    margin-top: 5%;
}
.navbar{
    padding: 1%;
}
.custom-submit:hover{
    background-color: dimgrey;
    color: whitesmoke;
    border-color: black;
    border-radius: 0;
    margin-top: 5%;
}
.subscribe{
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0;
    padding-left: 20%;
    padding-right: 20%;
    margin-right: 10%;
    color: whitesmoke;
}
.subscribe:hover{
    color:whitesmoke;
}
.subscribe:after{
    color: whitesmoke;
}
.subscribe:not(:hover){
    color: whitesmoke;
}
.custom-left{
    margin-right: 7%;
}
.appear{
    display: none;
}
.nav-button{
    background-color: whitesmoke;
    color: black;
    border-radius: 0;
    margin-right: 9%;
    text-decoration: none;
    white-space: nowrap;
}
.nav-button:hover{
    border-bottom: #0a53be 2px solid;
}
.nav-button:active{
    border-bottom: #0a53be 2px solid;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header, .footer {
    /* Adjust the height as needed */
    height: 10vh;
    /* Add any other styles you want for your header and footer */
}

.content {
    flex: 1;
    display: flex;
    overflow-y: auto;
    /* Add any other styles you want for your content */
}

.content .column {
    flex: 1;
    margin-left: 3%;
    margin-right: 3%;
}

.content .column.left {
    border-right: 1px solid #6c757d;
    padding-right: 2%;
}
.content .column.right {
    border-left: 1px solid #6c757d;
    padding-left: 2%;
}

.content .column.middle {
    flex: 2;
    overflow-y: auto;
    margin-left: 3%;
    margin-right: 3%;

}
.second{
    background-color: #707070;
}

@media (max-width: 768px){
    .disappear{
        display: none;
    }
    .appear{
        display: block;
        margin-left: 10%;
    }
}
@media (max-width: 1000px) {
    .disappear-first{
        display: none;
    }

}

.card img {
    max-width: 80%;
    margin-left: 10%;
    height: auto;
}

.news-title{
    margin-left: 15%;
    margin-right: 15%;
}

.card{
    border: none;
    border-bottom: #a7acb1 1px solid;
    border-radius: 0;
}
