.dropdown-menu{
    background-color: whitesmoke;
}
.dropdown-toggle{
    color: whitesmoke;
    text-decoration: none;
    margin-left: 10%;
}
.dropdown-toggle:hover{
    color: whitesmoke;
}
.dropdown-item{
    color: black;
}
.dropdown-item:hover{
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
.btn{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 0;
}
.btn:hover{
    background-color: whitesmoke;
    color: black;
    border-color: black;
}
.dropdown-text{
    font-weight: bold;
}
.dropdown-text:hover{
    text-decoration: none;
}
.custom-input{
    background-color: whitesmoke;
    color: black;
    border-color: black;
    border-radius: 0;
    margin-top: 5%;
}
.custom-submit{
    background-color: black;
    color: whitesmoke;
    border-color: black;
    border-radius: 0;
    margin-top: 5%;
}
.navbar{
    padding: 1%;
}

.custom-submit:hover{
    background-color: dimgrey;
    color: whitesmoke;
    border-color: black;
    border-radius: 0;
    margin-top: 5%;
}
.subscribe{
    border: 1px solid;
    border-color: whitesmoke;
    border-radius: 0;
    padding-left: 20%;
    padding-right: 20%;
    margin-right: 10%;
    color: whitesmoke;
}
.subscribe:hover{
    color:whitesmoke;
}
.subscribe:after{
    color: whitesmoke;
}
.subscribe:not(:hover){
    color: whitesmoke;
}
.custom-left{
    margin-right: 7%;
}
.appear{
    display: none;
}
.nav-button{
    background-color: whitesmoke;
    color: black;
    border-radius: 0;
    margin-right: 9%;
    text-decoration: none;
    white-space: nowrap;
}
.nav-button:hover{
    border-bottom: #0a53be 2px solid;
}
.nav-button:active{
    border-bottom: #0a53be 2px solid;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

.header, .footer {
    /* Adjust the height as needed */
    height: 10vh;
    /* Add any other styles you want for your header and footer */
}

.content {
    flex: 1;
    display: flex;
    /* Remove the overflow-y property */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin-bottom: 0;
}

.content .column {
    flex: 1;
    margin-left: 3%;
    margin-right: 3%;
}

.content .column.left {
    border-right: 1px solid #6c757d;
    height: 100%;
    padding-right: 2%;
    font-family: Georgia;
}
.content .column.right {
    border-left: 1px solid #6c757d;
    height: 100%;
    padding-left: 2%;
}

.content .column.middle {
    flex: 2;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 0;
}
.navbar{
    height: 10vh;
}

@media (max-width: 768px){
    .disappear{
        display: none;
    }
    .appear{
        display: block;
        margin-left: 10%;
    }
}
@media (max-width: 1000px) {
    .disappear-first{
        display: none;
    }

}

.card img {
    max-width: 100%;
    margin-left: 0%;
    height: auto;
}

.news-title{
    margin-left: 7%;
    margin-right: 7%;
}

.card{
    border: none;
    border-bottom: #a7acb1 1px solid;
    border-radius: 0;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.news-list{
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.news-list:hover{
    color: #777777;
    font-weight: bold;
    text-decoration: none;
}
.news-time{
    color: gray;
    font-weight: normal;
}
.ad-container {
    width: 300px;
    height: 250px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    margin: 0 auto;
    overflow: hidden;
}
.ad-header {
    background-color: #f5f5f5;
    padding: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.ad-content {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
}
.ad-image {
    width: 30%;
    height: 30%;
}
.second{
    background-color: #707070;
    padding-right: 7%;
    position: sticky;
    top: 0;
    height: 7vh;
    border-bottom: #4d5154 1px solid;
}
.sticky {
    margin-right: 12%;
    margin-left: -3.5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.footer{
    margin-top: 5%;
}
#latest{
    font-family: Farnham Headline, Georgia, serif;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .93px;
    line-height: 2.8rem;
    margin: 0 0 20px;
}
.grid-container{
    font-family: Inter, Arial, sans-serif;
}
.footer__nav-topics {
    column-count: 1;
    column-gap: 5px;
    padding: 0;
    margin-left: 15%;
    margin-right: 15%;
    min-height: 300px;
}
.footer__disclaimer-wrapper{
    margin-left: 20%;
    margin-right: 20%;
}
.footer{
    background-color: #fff;
    border-top: 1px solid #c8c8c8;
    color: #666;
    margin-top: 24px;
    padding-top: 40px;
}
.footer__nav-topic{
    color: black;
    font-weight: bold;
    list-style: none;
}
.footer__topic-link{
    color: #4d5154;
    text-decoration: none;
    font-weight: normal;
}

.footer__topic-link:hover{
    color: #0a53be;
    text-decoration: underline;
}
.footer__disclaimer-logo-image{
    margin-left: -15%;
}




